In [ ]:
start_date         datetime64[ns]
end_date           datetime64[ns]
created_on         datetime64[ns]
lat                       float64
lon                       float64
l1                         object
l2                         object
l3                         object
rooms                     float64
bedrooms                  float64
bathrooms                 float64
surface_total             float64
surface_covered           float64
price                     float64
property_type            
operation_type

## Columns Before OHE

In [7]:
selected_cols = ['lat', 'lon', 'l1', 'l2', 'rooms', 'bedrooms', 'bathrooms', 
                 'surface_total', 'surface_covered', 'price', 'property_type', 'operation_type']

categorical_cols = ['l1', 'l2', 'property_type', 'operation_type']

In [ ]:
####how you would get all columns with ohe:

#ohe_argentina = pd.get_dummies(argentina, columns = categorical_cols, dtype=int)

In [8]:
import pandas as pd

argentina = pd.read_csv('data/argentina_cleaned.csv')
argentina = argentina[selected_cols]

In [9]:
arg2 = pd.get_dummies(argentina, dtype=int)
print(arg2.columns, len(arg2.columns))

Index(['lat', 'lon', 'rooms', 'bedrooms', 'bathrooms', 'surface_total',
       'surface_covered', 'price', 'l1_Argentina', 'l1_Brasil',
       'l1_Estados Unidos', 'l1_Uruguay', 'l2_Bs.As. G.B.A. Zona Norte',
       'l2_Bs.As. G.B.A. Zona Oeste', 'l2_Bs.As. G.B.A. Zona Sur',
       'l2_Buenos Aires Costa Atlántica', 'l2_Buenos Aires Interior',
       'l2_Canelones', 'l2_Capital Federal', 'l2_Catamarca', 'l2_Chaco',
       'l2_Chubut', 'l2_Colonia', 'l2_Corrientes', 'l2_Córdoba',
       'l2_Entre Ríos', 'l2_Florida', 'l2_Formosa', 'l2_Jujuy', 'l2_La Pampa',
       'l2_La Rioja', 'l2_Maldonado', 'l2_Maryland', 'l2_Mendoza', 'l2_Miami',
       'l2_Michigan', 'l2_Misiones', 'l2_Montevideo', 'l2_Neuquén',
       'l2_New York', 'l2_Pennsylvania', 'l2_Rio Grande do Norte',
       'l2_Rio de Janeiro', 'l2_Rocha', 'l2_Río Negro', 'l2_Salta',
       'l2_San Juan', 'l2_San Luis', 'l2_Santa Catarina', 'l2_Santa Cruz',
       'l2_Santa Fe', 'l2_Santiago Del Estero', 'l2_São Paulo',
       'l2_Tierra Del Fuego', 'l2_Tucumán', 'property_type_Cottage',
       'property_type_Department', 'property_type_Garage',
       'property_type_House', 'property_type_Lot', 'property_type_Office',
       'property_type_Other', 'property_type_PH', 'property_type_Shop',
       'property_type_Warehouse', 'operation_type_For Rent',
       'operation_type_For Sale', 'operation_type_For Sublease'],
      dtype='object') 68

In [14]:
x = arg2[arg2.columns.difference(['price'])]
y = df_ohe[dependent_variable]

,bathrooms,bedrooms,l1_Argentina,l1_Brasil,l1_Estados Unidos,l1_Uruguay,l2_Bs.As. G.B.A. Zona Norte,l2_Bs.As. G.B.A. Zona Oeste,l2_Bs.As. G.B.A. Zona Sur,l2_Buenos Aires Costa Atlántica,...,property_type_House,property_type_Lot,property_type_Office,property_type_Other,property_type_PH,property_type_Shop,property_type_Warehouse,rooms,surface_covered,surface_total
0,1.70148,0.000000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,2.844661,6370.15545,474.884308
1,1.00000,2.000000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,5.000000,72.00000,72.000000
2,1.00000,3.000000,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,2.844661,244.00000,747.000000
3,1.00000,1.000000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3.000000,40.00000,40.000000
4,1.00000,2.084058,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,2.844661,35.00000,35.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
963093,1.00000,2.084058,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,2.844661,6370.15545,474.884308
963094,3.00000,2.084058,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,3.000000,6370.15545,474.884308
963095,1.00000,2.084058,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,2.844661,6370.15545,474.884308
963096,1.00000,2.084058,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1.000000,39.00000,60.000000
963097,2.00000,3.000000,1,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,5.000000,6370.15545,474.884308

Index(['bathrooms', 'l1_Argentina', 'l1_Brasil', 'l1_Estados Unidos',
       'l1_Uruguay', 'l2_Bs.As. G.B.A. Zona Norte',
       'l2_Bs.As. G.B.A. Zona Oeste', 'l2_Bs.As. G.B.A. Zona Sur',
       'l2_Buenos Aires Costa Atlántica', 'l2_Buenos Aires Interior',
       'l2_Canelones', 'l2_Capital Federal', 'l2_Catamarca', 'l2_Chaco',
       'l2_Chubut', 'l2_Colonia', 'l2_Corrientes', 'l2_Córdoba',
       'l2_Entre Ríos', 'l2_Florida', 'l2_Formosa', 'l2_Jujuy', 'l2_La Pampa',
       'l2_La Rioja', 'l2_Maldonado', 'l2_Maryland', 'l2_Mendoza', 'l2_Miami',
       'l2_Michigan', 'l2_Misiones', 'l2_Montevideo', 'l2_Neuquén',
       'l2_New York', 'l2_Pennsylvania', 'l2_Rio Grande do Norte',
       'l2_Rio de Janeiro', 'l2_Rocha', 'l2_Río Negro', 'l2_Salta',
       'l2_San Juan', 'l2_San Luis', 'l2_Santa Catarina', 'l2_Santa Cruz',
       'l2_Santa Fe', 'l2_Santiago Del Estero', 'l2_São Paulo',
       'l2_Tierra Del Fuego', 'l2_Tucumán', 'lat', 'lon',
       'operation_type_For Rent', 'operation_type_For Sale',
       'operation_type_For Sublease', 'price', 'property_type_Cottage',
       'property_type_Department', 'property_type_Garage',
       'property_type_House', 'property_type_Lot', 'property_type_Office',
       'property_type_Other', 'property_type_PH', 'property_type_Shop',
       'property_type_Warehouse', 'rooms', 'surface_covered', 'surface_total'],
      dtype='object')